<div id="loader" aria-hidden="true">
  <div class="ld-grid"></div>
  <span class="ld-corner tl"></span><span class="ld-corner tr"></span><span class="ld-corner bl"></span><span class="ld-corner br"></span>
  <div class="ld-box">
    <div class="ld-log" id="ldLog"></div>
    <div class="ld-name"><span id="ldA"></span><span id="ldB" class="das"></span></div>
    <div class="ld-bar"><i id="ldFill"></i></div>
    <div class="ld-meta"><span id="ldStat">booting</span><span id="ldPct">000%</span></div>
  </div>
</div>
